PROJECT_ID=datawarehouseanalytics-480618
DATASET_ID=datawarehouseset
OUTPUT_DIR=cleaned_data
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
# GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
